{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body>
    <div style="text-align: center;">
        <a href="{% url 'users:registration' %}">Регистрация</a>
    </div>
    
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <p>{{ login_form.username.label_tag }} {{ login_form.username }}</p>
        <p>{{ login_form.password.label_tag }} {{ login_form.password }}</p>
        <button type="submit">Войти</button>
    </form>
    
    {% if messages or login_form.errors %}
        <div class="errorlist">
            {% if messages %}
                {% for message in messages %}
                    <div class="success-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            {% for field, errors in login_form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>