{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body>
    <div><a href="{% url 'users:registration' %}">Регистрация</a></div>
    <div>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <p>{{ login_form.username.label_tag }} {{ login_form.username }}</p>
            <p>{{ login_form.password.label_tag }} {{ login_form.password }}</p>
            <button type="submit">Войти</button>
        </form>
    </div>
    <div>
        {% if messages or registration_form.errors %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% for field, errors in registration_form.errors.items %}
                {{ field }}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>