{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'users:profile' %}" method="post">
            {% csrf_token %}
            <p>{{ profile_form.username.label_tag }} {{ profile_form.username }}</p>
            <button type="submit">Применить</button>
        </form>
    </div>
    <div>
        {% if registration_form.errors %}
            {% for field, errors in registration_form.errors.items %}
                {{ field }}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>