{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'users/css/registration.css' %}">
</head>
<body>
    <div style="text-align: center;">
        <a href="{% url 'users:login' %}">← Войти</a>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <p>{{ registration_form.username.label_tag }} {{ registration_form.username }}</p>
        <p>{{ registration_form.password1.label_tag }} {{ registration_form.password1 }}</p>
        <p>{{ registration_form.password2.label_tag }} {{ registration_form.password2 }}</p>
        <button type="submit">Зарегистрироваться</button>
    </form>
    
    {% if registration_form.errors %}
        <div class="errorlist">
            {% for field, errors in registration_form.errors.items %}
                <strong>{{ field }}:</strong>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>